@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* y-monaco remote cursor markers */
/* Remote user cursor flag */
.yRemoteSelectionHead {
  position: absolute;
  border-left: 2px solid;
  border-bottom: 2px solid;
  height: 100%;
  box-sizing: border-box;
}

/* Remote user selection background */
.yRemoteSelection {
  background-color: rgba(241, 174, 29, 0.886);
  /* Opacity add karna mat bhoolna */
}

/* User name tag on hover or always visible */
.yRemoteSelectionHead::after {
  content: attr(data-clientid);
  /* Tum provider se actual name pass kar sakte ho */
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 10px;
  background: inherit;
  color: white;
  padding: 2px 4px;
}